@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*width and hight applay to all parts of element (padding, borders and content)*/
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg, #f2f2f2, #404040);
}

.card img{

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 370px;
    transition: 0.5s;
}

.card:hover img{
    left: 85%;
    height: 450px;
}

.card .content{
    position: relative;
    width: 60%;
    left: 20%;
    transition: 0.5s;
    padding: 20px 20px 20px 40px;
    visibility: hidden;
    opacity: 0;
}

.card:hover .content{
    left: 0%;
    visibility: visible;
    opacity: 1;
}

.card .content h2{
    color: black;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.4em;
}

.card .content p{
    color: black;
}

.card .content a{
    position: relative;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    background-color: black;
    margin-top: 10px;
    transition: 0.3s ease;
}

.card .content a:hover{
    background-color: #1a1a1a;
}

@media (max-width: 540px){
    .card{
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }

    .card:hover{
        height: 500px;
    }

    .card:hover img{
        left: 50%;
        height: 300px;
    }

    .card .content{
        width: 100%;
        left: 0%;
        padding: 40px;
    }


}

@media (max-width: 491px){
    .card{
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }

    .card:hover{
        height: 590px;
    }

    .card:hover img{
        left: 50%;
        height: 300px;
    }

    .card .content{
        width: 100%;
        left: 0%;
        padding: 40px;
    }


}

@media (max-width: 395px){
    .card{
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }

    .card:hover{
        height: 630px;
    }

    .card:hover img{
        left: 50%;
        height: 300px;
    }

    .card .content{
        width: 100%;
        left: 0%;
        padding: 40px;
    }


}